# Maven Build Output
target/
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Compiled Java class files
*.class

# IDE Settings
.settings/
.project
.classpath
.vscode/
.idea/
*.iws
*.iml
*.ipr
.metadata/

# Log Files
*.log
temp/
tmp/
